@import "vars";
@import "mixins";

.main-head {
	background-color: $color-light;
	box-shadow: 0px 12px 12px transparentize($color-dark, 0.94);

	&--fixed {
		@include position(fixed, $t: 0, $l: 0);
		@include sizes($w: 100%);
		z-index: 999;
	}

	&__top {
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;

		@include desktop {
			padding-top: 21px;
		}
	}

	&__hbg {
		@include desktop {
			display: none;
		}
	}

	&__nav {
		@include position(absolute, $t: 100%, $l: 0);
		@include sizes($w: 100%);
		background-color: transparentize($color-light, 0.04);
		padding: 20px 0;
		display: none;
		box-shadow: 0px 12px 12px transparentize($color-dark, 0.94);
		border-top: 1px solid $color-bg;

		&.open {
			display: block;
		}

		@include desktop {
			@include position(relative, $t: auto, $l: auto);
			display: block;
			box-shadow: none;
			border-top: none;
			padding: 0px;
		}
	}

	&__addwr {
		@include sizes(100%);
		@include position(relative);
	}

	&__add {
		@include sizes(100%, 40px);
		@include position(fixed, $b: 0, $l:0);

		&::before,
		&::after {
			@include position(absolute, $t: 50%, $l:50%);
			content: "";
			transform: translateX(-50%) translateY(-50%);
			background-color: $color-light;
		}

		&::before {
			@include sizes(20px, 2px);
		}

		&::after {
			@include sizes(2px, 20px);
		}

		@include desktop {
			@include sizes(64px, 64px);
			@include position(absolute, $t: 0%, $l: auto, $r:0);
			transform: translateX(-$gutter-width) translateY(-50%);
			border-radius: 50%;
		}
	}

}

.status-bar {
	display: flex;

	&__icons {
		order: 1;

		@include desktop {
			order: 2;
		}
	}

	&__icn {
		&::before {
			@include icon-sizes(32px, 32px, 32px);
		}
	}

	&__mnu {
		order: 2;

		@include desktop {
			order: 1;
			margin-right: 20px;
		}
	}
}

.user-info {
	@include position(relative);

	&__name {
		display: none;

		@include desktop {
			display: block;
			margin-right: 20px;
		}
	}

	&__logged {
		@include position(relative);
		padding-right: 20px;
		cursor: pointer;
		display: flex;
		align-items: center;

		&::before {
			@include icon-sizes(16px, 16px, 16px);
			@include position(absolute, $t: 50%, $r: 0);
			transform: translateY(-50%);
		}

		@include desktop {
			padding-right: 30px;
		}
	}

	&__pic {
		@include sizes(32px, 32px);
		background-color: $color-bg;
		overflow: hidden;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__avatar {
		@include object-fit(contain);
		display: block;
	}

	&__dml {
		@include desktop {
			@include position($r: 0);
		}
	}
}

.icns-list {
	display: flex;
	align-items: center;

	&__itm {
		&--hm {
			display: none;

			@include tablet {
				display: block;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		text-decoration: none;
	}

	&__val {
		@include font-styles($lh: 1);

	}

}