@import "vars";
@import "mixins";

.profile {
    &__head {
            @include position(relative);
            margin-bottom: 20px;
            padding-right: 30px;
    }

    &__details {
            display: flex;
            margin-bottom: 32px;
    }

    &__pic {
            @include sizes(120px, 120px);
            overflow: hidden;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            flex-shrink: 0;
            margin-right: 24px;
    }

    &__avatar {
            @include object-fit(contain);
    }

    &__name {
            @include font-styles($secondary-font, $fz: 24px, $fw: 600, $lh: 1.08);
            margin-bottom: 8px;
    }

    &__uname {
            margin-bottom: 16px;
    }

    &__edit {
            @include link-colors($color-ascent, $color-ascent, $color-ascent, $color-ascent);
            display: flex;
            align-items: center;
    }

    &__edicn {
            margin-right: 8px;

            &::before {
                @include icon-sizes(20px, 20px, 20px);
            }
    }

    &__stat-list {
            display: flex;
            justify-content: space-between;
    }

    &__drpd {
            @include position(absolute, $r: 0);
    }
    &__dml{
            @include position($r: 0);

        @include desktop {
            @include position($r: auto, $l:0);
        }
    }
}

.stat-list {
    &__itm {
        @include font-styles($lh: 1);

        &--ctr {
                text-align: center;
        }
    }

    &__count {
            @include font-styles($fz: 18px, $fw: 700);
            margin-bottom: 10px;
    }

    &__desc {
            @include font-styles($fz: 16px, $fw: 400);
    }
}