$body-bgc: rgba(242, 242, 242, 1);//#F2F2F2
$body-fz: 16px;
$color-text-main: rgba(62, 63, 88, 1); //#3E3F58
$color-text-sec: rgba(62, 64, 86, 1); //#3E4056
$color-bg: rgba(236, 241, 248, 1); //#ECF1F8
$color-bg2: rgba(178, 179, 187, 1);//#B2B3BB
$color-light: rgba(255, 255, 255, 1); //#FFFFFF
$color-ascent: rgba(237, 82, 103, 1); //#ED5267
$color-gr-1: rgba(255, 151, 79, 1);//#FF974F
$color-gr-2: rgba(227, 44, 117, 1);//#E32C75
$color-dark: rgba(0, 0, 0, 1); //#000000
$gutter-width: 15px;
$regular-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$cont-max-width: 1200px;

$icons-list-16: "arrow", "view", "block", "edit", "edit-red", "like", "like-red", "link", "medium", "note", "recapt", "report", "dots-menu";
